# Analysis for DFProfiler

This is a simple analysis notebook for dfprofiler.

## Imports

In [14]:
import logging
import json
import dask
import os
from pathlib import Path
from glob import glob

In [15]:

import dask.dataframe as dd
from dask.distributed import Client, LocalCluster, progress, wait, get_client
from dask.distributed import Future, get_client

## Project Variables

In [16]:
app_root = str(Path(os.getcwd()).parent)

## Setup Dask Local Cluster

In [17]:
workers=4
cluster = LocalCluster(n_workers=workers)  # Launches a scheduler and workers locally
client = Client(cluster)  # Connect to distributed cluster and override default
logging.info(f"Initialized Client with {workers} workers and link {client.dashboard_link}")

/home/cc/dfprofiler/venv/lib/python3.10/site-packages/distributed/node.py:182: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 33705 instead
  warnings.warn(

## Start Analysis

In [19]:

file=f"{app_root}/tests/output/simple_test_1MB_1K.pfw"
file_pattern = glob(file)
file_pattern

['/home/cc/dfprofiler/tests/output/simple_test_1MB_1K.pfw']

## Function to load trace data

In [20]:
def load_profile(args):
    line, path = args
    d = {}
    if line is not None and line !="" and len(line) > 0 and "[" != line[0] and line != "\n" :
        try:
            unicode_line = ''.join([i if ord(i) < 128 else '#' for i in line])
            val = json.loads(unicode_line)
            d["pid"] = val["pid"]
            d["tid"] = val["tid"]
            d["ts"] = int(val["ts"])
            if "args" in val:
                d["dur"] = float(val["args"]["time"])
                d["freq"] = val["args"]["count"]
            d["func_id"] = val["name"]
            d["cat"] = val["cat"]
        except Exception as error:
            logging.error(f"Processing {line} failed with {error}")
    return d

## Create Dask Dataframe

In [21]:
pfw_bag = dask.bag.read_text(file_pattern, include_path=True).map(load_profile).filter(lambda x: "ts" in x)
pfw_bag

dask.bag<filter-lambda, npartitions=1>

In [22]:
columns = {'pid': "uint64[pyarrow]", 'tid': "uint64[pyarrow]",
           'ts': "uint64[pyarrow]", 'dur': "float32[pyarrow]", 
           'freq': "uint64[pyarrow]", 'func_id': "string[pyarrow]", 
           'cat': "string[pyarrow]"}

In [23]:
events = pfw_bag.to_dataframe(meta=columns)

In [24]:
events = events.repartition(npartitions=1).persist()
_ = wait(events)

## Analysis

In [25]:
events.query("func_id.str.contains('write')").compute()

        pid   tid          ts       dur  freq func_id  cat
4190   4176  4176   556000000   0.00001     2   write    c
4224   4176  4176   556000000  0.000007     2   write  sys
4497   4176  4176   568000000  0.000006     1   write    c
4508   4176  4176   569000000  0.000005     1   write    c
4516   4176  4176   568000000  0.000004     1   write  sys
...     ...   ...         ...       ...   ...     ...  ...
26559  4176  4176  3115000000   0.00001     1   write  sys
26574  4176  4176  3265000000  0.000007     1   write    c
26580  4175  4175  3241000000  0.000007     1   write    c
26587  4176  4176  3265000000  0.000005     1   write  sys
26594  4175  4175  3241000000  0.000005     1   write  sys

[6470 rows x 7 columns]

In [26]:
events["func_id"].unique().compute()

2024-07-20 17:26:05,008 - distributed.shuffle._scheduler_plugin - WARNING - Shuffle f9fe2f969e515f8eb28487eed01a39f2 initialized by task ('shuffle-transfer-f9fe2f969e515f8eb28487eed01a39f2', 0) executed on worker tcp://127.0.0.1:36273
2024-07-20 17:26:05,056 - distributed.shuffle._scheduler_plugin - WARNING - Shuffle f9fe2f969e515f8eb28487eed01a39f2 deactivated due to stimulus 'task-finished-1721496365.0533888'

0                          malloc
1                            free
2                          calloc
3                         realloc
4                            read
5                            open
6                          open64
7                          fileno
8                  rw_verify_area
9                 fileno_unlocked
10              vfs_getattr_nosec
11                         openat
12                 ext4_file_open
13                          close
14                       vfs_open
15                           mmap
16                       shm_open
17                     shm_unlink
18             mark_page_accessed
19                          lseek
20                        lseek64
21                     vfs_unlink
22                          fcntl
23                         fdopen
24                      vfs_statx
25                     readlinkat
26                   vfs_readlink
27                         mremap
28                         mmap64
29                      vfs_mkdir
30                          write
31              mark_buffer_dirty
32                         munmap
33           ext4_file_write_iter
34          ext4_da_reserve_space
35                      ftruncate
36              ext4_da_write_end
37            ext4_da_write_begin
38                         statfs
39       vfs_statfs.part.0.isra.0
40                 posix_memalign
41                  ext4_truncate
42             ext4_remove_blocks
43               ext4_free_blocks
44          ext4_da_release_space
45                      vfs_rmdir
46    ext4_discard_preallocations
Name: func_id, dtype: string

In [27]:
functions = events.groupby(["func_id", "cat", "pid","tid", "ts"])[["freq","dur"]].sum().groupby(["func_id", "cat", "ts"]).agg({"freq":sum,"dur":max}).groupby([ "cat","func_id"]).sum()
functions = functions.reset_index()
functions.compute()

         cat                      func_id    freq       dur
0          c                       calloc   10322   0.03607
1          c                        close    4784  0.012817
2          c                        fcntl      35  0.000072
3          c                       fdopen       3   0.00003
4          c                       fileno      27  0.000151
5          c              fileno_unlocked      27   0.00013
6          c                         free   62623  0.186737
7          c                        lseek    1075  0.003423
8          c                      lseek64    1075  0.002745
9          c                       malloc   68290  0.239962
10         c                         mmap      20  0.000224
11         c                       mmap64      20  0.000209
12         c                       mremap      56  0.000311
13         c                       munmap      19  0.000374
14         c                         open      62  0.000442
15         c                       open64      62  0.000393
16         c               posix_memalign       1  0.000027
17         c                         read    6810  0.794254
18         c                      realloc   25597  0.087068
19         c                     shm_open       2  0.000009
20         c                   shm_unlink       2  0.000009
21         c                        write    1076  0.009275
22      ext4        ext4_da_release_space      30   0.00002
23      ext4        ext4_da_reserve_space  262169  0.106828
24      ext4          ext4_da_write_begin  262146  0.210192
25      ext4            ext4_da_write_end  262146   0.41675
26      ext4  ext4_discard_preallocations      37   0.00003
27      ext4               ext4_file_open     289  0.000287
28      ext4         ext4_file_write_iter    1026  0.002762
29      ext4             ext4_free_blocks      15  0.000089
30      ext4           ext4_remove_blocks      15    0.0001
31      ext4                ext4_truncate      15  0.000147
32  os_cache            mark_buffer_dirty  262195  0.132587
33  os_cache           mark_page_accessed    6184  0.003235
34       sys                        close    5151  0.002732
35       sys                        fcntl     101  0.000063
36       sys                    ftruncate       1  0.000007
37       sys                        lseek    1075  0.001004
38       sys                         mmap     915  0.014143
39       sys                       openat    6170  0.014283
40       sys                         read    7106   0.78417
41       sys                   readlinkat      48  0.000077
42       sys                       statfs       1  0.000002
43       sys                        write    1076  0.006173
44       vfs        ext4_da_release_space       6  0.000029
45       vfs               ext4_file_open     289  0.000497
46       vfs            mark_buffer_dirty    1026  0.004903
47       vfs               rw_verify_area   15338  0.785634
48       vfs            vfs_getattr_nosec    2745  0.002864
49       vfs                    vfs_mkdir       9  0.000284
50       vfs                     vfs_open    4736  0.005334
51       vfs                 vfs_readlink      48  0.000054
52       vfs                    vfs_rmdir       1  0.000015
53       vfs     vfs_statfs.part.0.isra.0       1  0.000001
54       vfs                    vfs_statx     138  0.000591
55       vfs                   vfs_unlink      10  0.000088

In [28]:
num_writes = functions.query("func_id == 'write' and cat == 'c'")
num_writes.compute()

   cat func_id  freq       dur
21   c   write  1076  0.009275

In [29]:
num_writes_ext4 = functions.query("func_id.str.contains('ext4_file_write_iter') and cat == 'ext4'")
num_writes_ext4.compute()

     cat               func_id  freq       dur
28  ext4  ext4_file_write_iter  1026  0.002762

In [30]:
num_writes_os_cache = functions.query("func_id.str.contains('mark_buffer_dirty') and cat == 'os_cache'")
num_writes_os_cache.compute()

         cat            func_id    freq       dur
32  os_cache  mark_buffer_dirty  262195  0.132587

In [31]:
num_reads = functions.query("func_id == 'read' and cat == 'c'")
num_reads.compute()

   cat func_id  freq       dur
17   c    read  6810  0.794254

In [32]:
num_reads_ext4 = functions.query("func_id.str.contains('read') and cat == 'ext4'")
num_reads_ext4.compute()

Empty DataFrame
Columns: [cat, func_id, freq, dur]
Index: []

In [33]:
num_writes_os_cache = functions.query("func_id.str.contains('mark_page_accessed') and cat == 'os_cache'")
num_writes_os_cache.compute()

         cat             func_id  freq       dur
33  os_cache  mark_page_accessed  6184  0.003235

In [34]:
min_ts, max_ts = dask.compute(events["ts"].min(), events["ts"].max())

In [37]:
(max_ts - min_ts) / 1e9

np.float64(3.31)

In [38]:
events.freq.sum().compute()

np.int64(1284246)